In [2]:
import pandas as pd
f1 = pd.read_csv('data/daily_sales_data_0.csv')
f2 = pd.read_csv('data/daily_sales_data_1.csv')
f3 = pd.read_csv('data/daily_sales_data_2.csv')

In [41]:
combined_data = pd.concat([f1,f2,f3],axis=0)
print(combined_data.head())
print(combined_data.shape)

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north
(41160, 5)

In [42]:
combined_data['price'] = combined_data['price'].str.replace('$','')
combined_data = combined_data.loc[combined_data['product']=='pink morsel']
combined_data['sales'] = combined_data['price'].astype(float)*combined_data['quantity']
combined_data = combined_data[['sales','date','region']]
print(combined_data.head())
combined_data.to_csv('Final_data.csv',index=False)

     sales        date region
0   1638.0  2018-02-06  north
1   1647.0  2018-02-06  south
2   1731.0  2018-02-06   east
3   1557.0  2018-02-06   west
28  1587.0  2018-02-07  north

In [1]:
#checking additional values in the dataset

In [6]:
combined_data_full = pd.concat([f1,f2,f3],axis=0)
print(combined_data_full.shape)
combined_data_full.head()

(41160, 5)

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

In [13]:
print(combined_data_full["product"].unique())
combined_data_full.to_csv("combined_data_full.csv",index=False)

['pink morsel' 'gold morsel' 'magenta morsel' 'chartreuse morsel'
 'periwinkle morsel' 'vermilion morsel' 'lapis morsel']